<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.10906.0" targetFramework="net40" />
  <package id="AspNetWebPagesCore" version="2.0.10906.0" targetFramework="net40" />
  <package id="CouchbaseGlimpse" version="0.1.1" targetFramework="net40" />
  <package id="CouchbaseModelViews" version="1.0.0-alpha-4" targetFramework="net40" />
  <package id="CouchbaseNetClient" version="1.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="4.1.10331.0" targetFramework="net40" />
  <package id="Glimpse" version="1.0.1" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.0.1" targetFramework="net40" />
  <package id="Glimpse.Mvc3" version="1.0.1" targetFramework="net40" />
  <package id="Hammock" version="1.2.9" targetFramework="net40" />
  <package id="inflector_extension" version="0.0.8" targetFramework="net40" />
  <package id="jQuery" version="1.6.2" targetFramework="net40" />
  <package id="jQuery.Ajax.Unobtrusive" version="1.0" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.11" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8" targetFramework="net40" />
  <package id="jQuery.Validation.Unobtrusive" version="1.0" targetFramework="net40" />
  <package id="knockoutjs" version="1.2.9.0" targetFramework="net40" />
  <package id="Microsoft.Web.Optimization" version="0.1" targetFramework="net40" />
  <package id="MicrosoftWebInfrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.0.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="System.Web.Providers" version="1.0.1" targetFramework="net40" />
</packages>